{% extends "base.html" %}

{% block content %}

<p>Thank you for visiting the pyConTextKit website.  This website allows you to
analyze reports and find in them medical concepts that are relevant to your
interests.  It will also attempt to help you make inferences about that
information based on the context in which it appears.

<p>Please click on a link below to begin.

<ul>
<li><a href="/pyConTextKit/reports">View Reports</a></li>
<li><a href="/pyConTextKit/itemData">View and edit annotation Lexicon</a></li>
<li><a href="/pyConTextKit/run">Annotate Documents</a></li>
<li><a href="/pyConTextKit/results">View Results</a></li>
<li><a href="/pyConTextKit/alerts">Classify Documents</a></li>
<li><a href="/pyConTextKit/stats">View Statistics</a></li>
</ul>

{% endblock %}
