<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>pyConTextKit</title>
<style type="text/css">
body {
background-color:#E0EEEE;
line-height: 1.5em;
}
#contentwrapper {
margin-top:100px;
margin-left: auto;
margin-right: auto;
width:275px;
padding:5px 0px 10px 0px;
border:2px;
background-color:white;
}
.innertube{
margin: 15px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
color:#006699;
}
</style>
</head>
<body>
<div id="maincontainer">
<div id="contentwrapper">
<div class="innertube">{% block content %}{% endblock %}</div>
</div>
<div id="footer"></div>
</div>
</body></html>
<!--End of CSS Template page source! -->